
@import url(https://fonts.googleapis.com/css?family=Butterfly+Kids);
* {
  box-sizing: border-box;
}

body {
  font-family: "Butterfly Kids", sans-serif;
  color: white;
  background: black;
  font-size: 26px;
}

/* STRUCTURE */
.wrapper {
  padding: 5px;
  max-width: 99%;
  width: 99%;
  margin: 20px auto;
}

header {
  padding: 0 15px;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}

.column {
  flex: 1;

  margin: 2px;

}

.column1 {
  flex: 3;

  margin: 2px;

}

.column:first-child {
  margin-left: 0;
}
.column:last-child {
  margin-right: 0;
}



.humpty {
margin-top: 99%;
margin-bottom: -30px;
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #fff;
     color: #000;
     }

footer {
  padding: 0 15px;
}

@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
